
.titulo1{
    text-align: center;
    padding: 30px 0 30px 430px;
    color: #EF2153;
    font-size: 60px;
    font-family: Franklin Gothic Medium;
}

.formulario{
    margin: 100px 0 50px 0;
}

.forma{
    float: left;
}

.input-1:hover, .input-2:hover{
    opacity: 0.5;
    cursor: text;
}

.forma-2{
    float: left;
}

.imagen{
    width: 400px;
    height: auto;
    margin: 15px 0 0 150px;
    border-radius: 10px;
}

.input-1{
    width: 500px;
    height: 30px;
    margin: 20px 0 0 100px;
    padding: 20px 0 20px 20px;
    font-family: Franklin Gothic Medium;
    font-weight: bold;
    color: #EF2153;
    border-radius: 10px;
    border: 1px solid #0B0909;
}

.input-2{
    width: 500px;
    height: 240px;
    margin: 20px 100px 0 100px;
    font-weight: bold;
    font-family: Franklin Gothic Medium;
    font-weight: bold;
    color: #EF2153;
    border-radius: 10px;
    padding: 10px 0 0 10px;
    border: 1px solid #0B0909;
}

.input-3{
    margin: 30px 0 0 0;
    width: 1000px;
    height: 50px;
    background-color: white;
    color: #EF2153;
    border: 2px solid #EF2153;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    font-family: Franklin Gothic Medium;
    font-weight: bold;
}

.input-3:hover{
    background: #EF2153;
    color: white;
}

.titulocolor{
    text-align: center;
    padding: 30px 0 50px 0;
    color: #EF2153;
    font-size: 38px;
    font-family: Franklin Gothic Medium;
}

.hr-estilo{
    width: 1000px;
    border: 3px solid #0B0909;
    margin: 10px 0 10px 150px;
}

.textestilo{
    font-family:Franklin Gothic Medium;
    font-size: 15px;
    color: #0B0909;
    text-align: center;
}

.logoposition{
    padding: 10px 0;
}

.textestilo b{
    font-size: 20px;
}

